@{
    ViewBag.Title = "Home Page";
}


<!--Principal Sector of the principal menu witch caroucel of bootstrap-->
<!-- Custom fonts for this template -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="~/Template views/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="~/Template views/css/creative.min.css" rel="stylesheet">

<style>

    .item {
        display: block;
        width: 100%;
        height: 400px;
        background-position: center;
        background-repeat: non-repeat;
        background-size: cover;
    }
</style>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://www.ekaenlinea.com/wp-content/uploads/2015/07/Captura-de-pantalla-2015-07-27-a-las-16.58.27.png" alt="">
        </div>
        <div class="item">
            <img src="http://vaxoconsulting.com/wp-content/uploads/servicios-inventario-de-existencias-y-conciliacion-contable.jpg" alt="">
        </div>
        <div class="item">
            <img src="http://www.logisticademexico.com.mx/wp-content/uploads/2015/04/Portada-Prof-Inv.jpg" alt="">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br /><br />
<!--This is the end of the principal sector in this view-->


<!--Contenedor de lineas-->
<div class="container">
    <!--Primera linea-->
    <div class="row justify-content-md-center">

        <!--Columnas de la primera linea.-->

        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">Archivos</li>
                <li class="list-group-item">@Html.ActionLink("Productores", "Index", "Customers")</li>
                <li class="list-group-item">@Html.ActionLink("Empleados", "Index", "Employees")</li>
                <li class="list-group-item">@Html.ActionLink("Productos", "Index", "Products")</li>
                <li class="list-group-item">@Html.ActionLink("Proveedores", "Index", "Suppliers")</li>
                <li class="list-group-item">@Html.ActionLink("Tipo de Documento", "Index", "DocumentTypes")</li>
                <li class="list-group-item">@Html.ActionLink("Usuarios", "Index", "Users")</li>
            </ul>
        </div>


        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">Operaciones</li>
                <li class="list-group-item">@Html.ActionLink("Ordenes", "NewOrder", "Orders")</li>
                <li class="list-group-item">@Html.ActionLink("Categorias", "Index", "Categories")</li>
            </ul>
        </div>

    </div>

</div>















<!--This is the zone of the scripts functions-->
<script type="text/javascript">
    // Call carousel manually
    $('#myCarouselCustom').carousel();

    // Go to the previous item
    $("#prevBtn").click(function () {
        $("#myCarouselCustom").carousel("prev");
    });
    // Go to the previous item
    $("#nextBtn").click(function () {
        $("#myCarouselCustom").carousel("next");
    });
</script>







